<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392493442260-omdecn89dljocu2munn2ie564ibn86ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392493442260-omdecn89dljocu2munn2ie564ibn86ff</string>
	<key>API_KEY</key>
	<string>AIzaSyC4DLJcWT9dEOQj1BvbIC7IEav7EihPkHU</string>
	<key>GCM_SENDER_ID</key>
	<string>392493442260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcm23</string>
	<key>PROJECT_ID</key>
	<string>fcmflutter-c4251</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmflutter-c4251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392493442260:ios:b6742d433f12e705050741</string>
</dict>
</plist>